.baseLayout {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.sideLayout {
    width: 250px;
    /*background-color: deeppink;*/
    display: flex;
    flex-direction: column;
}

.middleLayout {
    width: 600px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    /*background-color: deepskyblue;*/
    display: flex;
    flex-direction: column;
    position: relative;
}

.middleLayoutContainer {
    height: calc(100vh - 53px);
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.middleLayoutContainer::-webkit-scrollbar {
    display: none;
}

.hoverBottomLeftComponent {
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 120;
}

.hoverBottomRightComponent {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 120;
}

.appLoadingOverlay {
    position: absolute;
    z-index: 140;
    background-color: rgba(28, 28, 28, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loadingIcon {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 1125px) {
    .sideLayout {
        width: 60px;
    }
}

@media screen and (max-width: 825px) {
    .sideLayout {
        display: none;
    }

    .middleLayout {
        width: 600px;
    }
}

@media screen and (max-width: 625px) {
    .middleLayout {
        flex: 1;
    }
}