.baseHeaderInnerContainer {
    margin: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.baseHeaderOuterContainer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.baseHeaderSides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenuIcon {
    display: none;
    height: 25px;
    width: 25px;
    margin-right: 8px;
}

@media screen and (max-width: 825px) {
    .navMenuIcon {
        display: block;
    }
}