.navButton {
    padding: 8px 0 8px 16px;
    display: flex;
    align-items: center;
}

.navButton:hover {
    background-color: #AE00FB;
    cursor: pointer;
}

.navButtonIcon {
    height: 25px;
    width: 25px;
    margin-right: 24px;
}

.navButtonIconSelected {
    background-color: #AE00FB;
}

.navButtonText {
    font-weight: 400;
    font-size: 18px;
}

.navButtonTextHover {
    display: block;
}

@media screen and (max-width: 1125px) {
    .navButtonTextHover {
        display: none;
    }
}